<div class="flex gap-2 rounded-full bg-white/5 p-1 text-[0.6875rem]/6 font-semibold text-white">
  <div class="rounded-full bg-zinc-700 px-2 py-0.5 shadow-inner shadow-white/10">Recent</div>
  <div class="rounded-full px-2 py-0.5">Popular</div>
  <div class="rounded-full px-2 py-0.5">Trending</div>
</div> 